  
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  margin: 0 10%;
  padding: 0 5%;
  background-color: #fff;
}
@media screen and(max-width:668px) {
  .container {
    margin: 0 10%;
  }
}

h1 {
  font-size: 48px;
  line-height: 65px;
}
h2 {
  font-size: 36px;
  line-height: 49px;
}
h3 {
  font-size: 20px;
  line-height: 49px;
}
h4 {
  font-size: 16px;
  line-height: 25px;
}
h1,
h2,
h3,
h4 {
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}
p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.53);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.53);
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}
a:hover {
  color: #f2ce0b;
}

.btn {
  font-size: 16px;
  text-decoration: none;
  outline: none;
  font-weight: 600;
  border-style: none;
  padding: 15px 35px;
  cursor: pointer;
}

.primary-btn {
  background-color: #f2ce0b;
  color: #000;
  transition: all 0.3s ease;
}
.secondary-btn {
  background-color: #48325e;
  color: #fff;
  transition: all 0.3s ease;
}

.primary-btn:hover,
.secondary-btn:hover {
  background-color: black;
  color: #00ff00;
}

input {
  outline: none;
  border-style: none;
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
  line-height: 30px;
  padding: 10px 10px 10px 20px;
}
img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
i {
  cursor: pointer;
}